.Progress {
  font-family: Joystix;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Progress span{
  margin-right: 10px;
}
.progress-bar{
  width: 150px;
  margin-right: 10px;
}
