.Board {
  position: relative;
  width: calc(28 * var(--SCREEN_TILE_SIZE));
  height: calc(31 * var(--SCREEN_TILE_SIZE));
  overflow: hidden;
}
.debugbar-wrap {
  justify-content: center;
  padding-bottom: 30px;
}

.debugbar-toggle-wrap {
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  height: 80%;
  position: relative;
  width: 100%;

  top: -40px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.debugbar-toggle {
  margin-left: 10px;
  float: right;
}
.debugbar-toggle.ant-switch {
  background-color: rgb(205 205 205);
}
.debugbar-toggle.ant-switch.ant-switch-checked {
  background-color: #1890ff !important;
}

.custom-row {
  width: calc(28 * var(--SCREEN_TILE_SIZE));
}
